body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'r-b';
  src: url(../fonts/Raleway-Bold.ttf);
}
@font-face {
  font-family: 'm-m';
  src: url(../fonts/Montserrat-Medium.ttf);
}
@font-face {
  font-family: 'r-m';
  src: url(../fonts/Raleway-Medium.ttf);
}
@font-face {
  font-family: 'r-r';
  src: url(../fonts/Raleway-Regular.ttf);
}
@font-face {
  font-family: 'r-s';
  src: url(../fonts/Raleway-SemiBold.ttf);
}
body {
  font-family: 'r-r';
  font-size: 15px;
}
.container {
  max-width: 1170px;
  margin: 0px auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.col-3 {
  flex-basis: 25%;
  max-width: 25%;
  width: 25%;
  padding: 0px 15px;
}
.col-6 {
  flex-basis: 50%;
  max-width: 50%;
  width: 50%;
  padding: 0px 15px;
}
a {
  color: #000;
  text-decoration: none;
}
ul {
  list-style-type: none;
}
button {
  cursor: pointer;
  background: unset;
  border: 0;
}
button:focus {
  outline: 0;
  border-color: #ffe500;
}
.header {
  padding: 20px 0px;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 2;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__btn {
  display: flex;
  width: 34px;
  height: 26px;
  align-items: center;
  background: unset;
  border: 0;
}
.header__btn span {
  height: 4px;
  width: 28px;
  border-radius: 4px;
  background-color: #ffe500;
  position: relative;
}
.header__btn span:before,
.header__btn span:after {
  border-radius: 4px;
  content: '';
  position: absolute;
  width: 34px;
  height: 5px;
  background-color: #ffe500;
  top: -11px;
  right: 0;
}
.header__btn span:after {
  top: 11px;
  width: 22px;
}
.slider {
  background-color: #1a1a1a;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  height: 100vh;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.slider:before {
  content: '';
  position: absolute;
  top: 0;
  display: block;
  z-index: 1;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.slider video {
  width: 100%;
  position: absolute;
  top: 0;
}
.slider__down {
  position: absolute;
  bottom: 21px;
  animation-name: sliderbtn;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-direction: alternate;
  z-index: 1;
}
.slider__title {
  font-size: 20px;
  letter-spacing: 15px;
  margin-bottom: 37px;
  position: relative;
  z-index: 1;
}
.slider__desc {
  font-size: 13px;
  letter-spacing: 7px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}
.slider__btn {
  background-color: #ffe500;
  padding: 18px 30px;
  font-size: 10px;
  letter-spacing: 8px;
  transition: 0.3s;
  position: relative;
  z-index: 1;
}
.slider__btn:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  background-color: #ffe500;
  width: 100%;
  height: 100%;
  display: block;
  animation-duration: 0.5s;
}
.slider__btn:hover {
  transform: scale(1.1);
}
.slider__btn:hover:before {
  animation-name: wavebtn;
}
@keyframes wavebtn {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.4);
  }
}
@keyframes sliderbtn {
  0% {
    bottom: 30px;
  }
  100% {
    bottom: 10px;
  }
}
.about {
  padding-top: 166px;
  padding-bottom: 220px;
  text-align: center;
}
.about__text {
  max-width: 584px;
  margin: 93px auto 0px;
  color: #707070;
  line-height: 32px;
  letter-spacing: 50%;
}
button.call {
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 3;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #ffe500;
  display: flex;
  align-items: center;
  justify-content: center;
}
button.call:hover img {
  animation-name: unset;
}
button.call img {
  width: 60%;
  display: block;
  position: relative;
  animation-name: callMe;
  animation-duration: 0.2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
button.call::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #ffe500;
  z-index: -1;
  animation-name: callWave;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes callMe {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(30deg);
  }
}
@keyframes callWave {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.4);
  }
}
.center {
  margin: auto;
  display: block;
}
.jc-sb {
  justify-content: space-between;
}
.jc-sa {
  justify-content: space-around;
}
.ai-c {
  align-items: center;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.jc-c {
  justify-content: center;
}
.mb-1 {
  margin-bottom: 10px;
}
.mb-2 {
  margin-bottom: 20px;
}
.mb-3 {
  margin-bottom: 30px;
}
.mb-4 {
  margin-bottom: 40px;
}
.mb-5 {
  margin-bottom: 50px;
}
.mb-6 {
  margin-bottom: 60px;
}
.ml-1 {
  margin-left: 10px;
}
.ml-2 {
  margin-left: 20px;
}
.ml-3 {
  margin-left: 30px;
}
.mt-1 {
  margin-top: 10px;
}
.mt-2 {
  margin-top: 20px;
}
.mt-3 {
  margin-top: 30px;
}
.mr-1 {
  margin-right: 10px;
}
.mr-2 {
  margin-right: 20px;
}
.mr-3 {
  margin-right: 30px;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.btn {
  background-color: #c0c0c0;
  border: 0;
  padding: 5px 10px;
  border-radius: 5px;
}
.btn.btn-success {
  background-color: #30a73a;
}
.btn.btn-danger {
  background-color: #d83838;
}
.whitebox {
  background-color: #fff;
  box-shadow: 0px 0px 10px 0px rgba(37, 39, 42, 0.1);
}
.h__img {
  margin-top: 85px;
}
.h__btitle {
  font-size: 20px;
  letter-spacing: 17px;
}
.h__subtitle {
  color: #707070;
  font-size: 15px;
  line-height: 32px;
}
.service {
  background-color: #f4f4f4;
  padding-bottom: 37px;
}
.service__row {
  margin-left: -15px;
  margin-right: -15px;
}
.service__box {
  margin-bottom: 27px;
  padding: 37px 23px 25px;
  line-height: 24px;
  color: #707070;
}
.service__box--img {
  height: 80px;
  margin-bottom: 16px;
}
.service__box--title {
  letter-spacing: 8px;
  color: #1b1b1b;
}
.service__info {
  padding: 13px;
  font-size: 13px;
  line-height: 24px;
}
.service__info--title {
  margin-bottom: 15px;
}
.service__info--mark {
  height: 5px;
  background-color: #f4f4f4;
  position: relative;
  margin-bottom: 21px;
}
.service__info--mark:last-child {
  margin-bottom: 0;
}
.service__info--mark:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  background-color: #ffe500;
}
.service__info--mark.m90:before {
  width: 90%;
}
.service__info--mark.m98:before {
  width: 98%;
}
.service__info--mark.m70:before {
  width: 70%;
}
.stat {
  background-color: #1a1a1a;
  padding: 83px 0px;
}
.stat__box {
  background-color: #fff;
  padding-top: 17px;
  padding-bottom: 21px;
  font-size: 15px;
  font-family: 'm-m';
  letter-spacing: 8px;
}
.stat__box--count {
  font-size: 13px;
  letter-spacing: 4px;
  margin-top: 13px;
}
.portfolio__menu {
  margin-bottom: 89px;
}
.portfolio__menu .left,
.portfolio__menu .right {
  flex-basis: calc(50% - 115px);
  max-width: calc(50% - 115px);
  width: calc(50% - 115px);
  border-top: 1px solid #797979;
  border-bottom: 1px solid #797979;
  padding: 26px 0px;
}
.portfolio__item {
  height: 350px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  flex-basis: 16.66%;
  max-width: 16.66%;
  width: 16.66%;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px;
  position: relative;
}
.portfolio__item:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  transition: 0.7s;
  height: 80%;
  background-color: #ffe500;
}
.portfolio__item:hover:before {
  width: 70%;
}
.portfolio__item:hover .portfolio__text {
  height: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  transition: 0.7s;
}
.portfolio__item:hover .portfolio__text p {
  transition: 0.7s;
  height: auto;
}
.portfolio__text {
  background-color: #fff;
  padding: 0px 21px;
  height: 0;
  overflow: hidden;
  transition: 0.7s;
  position: relative;
  z-index: 1;
}
.portfolio__text p {
  line-height: 24px;
  font-size: 12px;
  letter-spacing: 1px;
  height: 0;
  transition: 0.7s;
}
.portfolio__text .title {
  font-size: 13px;
  line-height: 30px;
  letter-spacing: 4px;
  margin-bottom: 10px;
}
